
/* Colores #e23c4b rojo #313659 azul oscuro  */

body{
    font-family: 'Roboto', sans-serif ;
    font-size: 16px;
}


/* Botones */
.btn-color{
    background-color: #e33c4b;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 2px;
}
.btn-color:hover{
    color: #e33c4b !important;
    background-color: #fff !important;
}
.btn-bordes{
    background-color: #e33c4b;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 2px;
}
.btn-bordes:hover{
    color: #e33c4b;
    background-color: #fff;
    border: 1px solid #e33c4b;
}
/* Botones Fin */

/* Texto */
.texto-normal{
    color: #4e565f;
    font-size: 14px;
    font-weight:normal;
}
.texto-contraste{
    color: #fff;
    font-size: 14px;
    font-weight: normal;
}

.titurojo{
    color: #e33c4b;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
}
.titublanc{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}
/* Texto */



/* Navegacion */

#mainNav {
    background-color: #212d3e;
    
}
#mainNav .navbar-toggler{
    font-size: 16px;
    right: 0;
    padding: 10px 15px;
    text-transform: uppercase;
    color: white;
    border-radius: 2px;
    border: 0;
    background-color: #e33c4b;
}
#mainNav .navbar-toggler:active{
    border: none;
}
#mainNav .navbar-nav .nav-item .micuenta{
    background-color: #e33c4b;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 2px;
    padding: 0.3rem;
    margin-bottom: 10px;
    text-decoration: none;
}
#mainNav .navbar-nav .nav-item .micuenta:hover{
    color: #e33c4b;
    background-color: #fff;
}
.navbar-brand img{
    height: 40px;
}
.navbar{
    padding: 0;
}
.navbar-nav .nav-item .nav-link{
    color: #fff !important;
    font-weight: bold;
}
.navbar-nav .nav-item .nav-link:hover{
    color: #e33c4b !important;
}
#iconosnav{
    display: none;
}
.bordeicono {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    border: 1px solid #fff;
    padding: 0.5em 0.6em;
    height: 25px;
    width: 25px;
    margin-left: 10px;
    color: #fff;
  
  }



/* Navegacion */

/* Carousel */

.imgcarousel{
    object-fit: cover;
    height: 100vh;
    background-size: cover;
}
.carousel-caption{
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
    z-index: 3;
}
.carouseloscu{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: rgba(33, 45, 62, 0.7);
}
.carousel-indicators [data-bs-target]{
    height: 10px;
    width: 10px;
    margin: 5px;
    border-radius: 100%;
    background-color: transparent;
    border: 1px solid #fff;
}
.carousel-indicators .active{
    background-color: #e33c4b;

    border: 1px solid #e33c4b;
}

/* Carousel */

#iconosfoot{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.fondorojo{
    background-color: #e33c4b;
}

.dispositivos{
    background-color: #F4F5F7;
}
.oscuro{
    background-color: #212d3e;
}

.navbar-shrink{
    background-color: #212d3e;
    padding-top: 0!important;
    box-shadow: 5px 2px 10px rgba(0, 0, 0, 0.6);
}

.nav-link-f{
    text-decoration: none;
    color: #fff;
}
.nav-link-f:hover{
    color: #e33c4b;
}
.whatsapp {
    position: fixed;
    z-index: 1000 !important;
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgb(0 0 2 / 30%);
    width: 60px;
    height: 60px;
    bottom: 15px;
    right: 15px;
    text-decoration: none;
    background: #00e576;
    border: none;
}
.whatsapp i {
    position: absolute;
    font-size: 40px;
    color: #fff;
    bottom: 10px;
    right: 10px;
}
.btn-ingre{
    background-color: #e33c4b;
    color: #fff;
    border-radius: 2px;
}
.contra{
    color: #e33c4b;
    font-size: 14px;
    text-decoration: none;
}
.contra:hover{
    color: #212d3e;
}
.cuenta{
    font-size: 14px;
}
.modal ::-webkit-input-placeholder {
    text-align: center;
 }

.inicio-sesion{
    background-color: #f1f1f1;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
}

/* Media Queries */
@media (min-width: 992px){
    #mainNav{
    border: none;
    background-color: transparent;
    }
    .navbar-brand img{
        height: 50px;
    }
    #navbar{
        padding-top: 20px;
        transition: .3s ease-out;
    }
    #iconosnav{
        display: flex;
    }
    #mainNav .navbar-nav .nav-item .micuenta{
        margin-bottom: 0px;
    }
}
/* Media Queries */









